* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    font-size: 62.5%;
}

.yellow {
    background-color: rgb(243, 211, 67);
}

/*
=============================================
TEXT STYLE
=============================================
*/

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.upperCase {
    text-transform: uppercase;
}

.color1 {
    color: rgb(38, 38, 38);
}

.color2 {
    color: white;
}

.activeLink {
    color: rgb(243, 211, 67);
    text-decoration: underline;
}

.homeButton {
    background-color: rgb(38, 38, 38);
    padding: 8px;
    margin-right: 5px;
    border-radius: 50%;
}

.heroText {
    display: flex;
    flex-direction: column;
}

.small {
    font-size: 1.4em;
    font-weight:500;
}

.lessSmall {
    font-size: 1.7em;
    font-weight: 500;
}

.medium {
    font-size: 2.5em;
    font-weight: 900;
}

.huge {
    font-size: 9em;
    font-weight: 900;
    line-height: 4.8rem;
    margin-left: -5px;
}

.submenu {
    text-align: center;
    padding: 60px;
}


/*
=============================================
LAYOUT
=============================================
*/

header {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
    padding: 20px 15px;
}

ul {
    display: flex;
    margin: 0;
    gap: 17px;
}

ul img {
  height: 1.7rem;
}

.mainHome {
    padding: 8% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
}

.leftie {
    display: flex;
    flex-direction: column;
}


/*
=============================================
BUTTONS
=============================================
*/

.mainButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 175px;
    margin-top: 25px;
}

.buttons {
    width: 100%;
    border: solid 2px white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.topButton {
    background-color: white;
}



/*
=============================================
MEDIA QUERY
=============================================
*/

@media all and (max-width: 930px) {
    .mainHome {
        padding: 14% 15%;
    }


    .rightie {
        display: none;
    }
}

@media all and (max-width: 747px) {
    .mainHome {
        padding: 20% 15%;
    }

    .mainButtons {
        align-self: center;
    }

    .mainButtons {
        margin-top: 70px;
    }
}